body {
    background-color: white;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: sticky; 
    top: 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
section {
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 24px;
}
